.bodyDiv{
    width: auto;
}
.title{
    text-align: center;
    color: #3c89ea;
    height: auto;
}
.wrapCanvas{
    align-content: center;
    width: 964px;
    overflow-y: auto;
    height: 1600px;
}
.mainCanvas{
    margin: auto;
    
}